@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add Button</button>

<AppConfigLayout configs="_configs"></AppConfigLayout>

@code {
    private int currentCount = 0;
    public DTOs.UIConfig[] _configs;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    private void DecrementCount()
    {
        currentCount--;
        _configs[4].Data = "Current Count Updated: " + currentCount;

    }

    protected override Task OnInitializedAsync()
    {
        _configs =
        [
            new() { Type = "break" },
            new() { Type = "break" },
            new() { Type = "break" },
            new() { Type = "button", Data = "Minus Button", Action = DecrementCount },
            new() { Type = "p", Data = "Current Count: " + currentCount },
            new() { Type = "h1", Data = "End of the line" },
        ];

        return base.OnInitializedAsync();
    }
}